.grid,
.gridt {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 15px;
  row-gap: 15px;
  margin-bottom: 15px;
  align-items: stretch;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.placeholder {
  font-size: 15px;
  padding: 6px;
}
.add-button{
  background: rgb(1, 181, 1);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.red-button{
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 7px;
    cursor: pointer;
}