:root {
  --base-color: #d9e2f1;
  --back-ground-color: #fcfcfe;
  --shadow-color: rgba(0, 0, 0.1);
  --add-btn-color: #1d66f2;
  --delete-btn-color: #f14f54;
  --mark-btn-color: #d9e2f1;
  --border-color: #ccc;
  --marked-btn-color: #1d66f2;
  --text-color: #e5e7eb;
   --progres-color:#eee;
  --ontop-color :#2268f2;
  --filter-btn-color:#4b5563;
  --back-filter-color:#2563eb;
  --line-color: #e8e8e8;
}
.dark-mode {
  --base-color: #000000;
  
  --back-ground-color: #050518;
  --shadow-color: rgb(153, 0, 255);
  --add-btn-color: #8b1df2;
  --delete-btn-color: #f14f54;
  --mark-btn-color: #e6eaf0;
  --border-color: #ccc;
  --marked-btn-color: #a71df2;
  --text-color: #e5e7eb;
  --progres-color:#eee;
  --ontop-color :#2268f2;
  --filter-btn-color:#4b5563;
  --back-filter-color:#2563eb;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-color);
  font-family: Arial, Helvetica, sans-serif;
  
}
h1{
 text-align: center;
  font-size: 28px;
  color: #2d4162;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 30px;

}
#main-panel {
  width: 550px;
  padding: 30px;
  background-color: var(--back-ground-color);
  border-radius: 10px;
  box-shadow: 0 10px 30px #ffffff;
}
.edit-panel {
  display: grid;
  grid-template-columns: 20px 150px 100px 70px 70px;
  column-gap: 15px;
  row-gap: 15px;
  margin-bottom: 15px;
  align-items: stretch;
}
.input {
  display: grid;
  grid-template-columns: 1fr 170px 70px;
  column-gap: 15px;
  row-gap: 15px;
  margin-bottom: 15px;
  align-items: stretch;
}
.task {
  display: grid;
  grid-template-columns: 20px 150px 100px 70px 70px;
  column-gap: 15px;
  row-gap: 15px;
  margin-bottom: 15px;
  align-items: stretch;
}

.placeholder {
  font-size: 15px;
  padding: 6px;
}
.add-button {
  
  background: var(--add-btn-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.2s;
}
.add-button:hover {
  opacity: 0.9;
}
.red-button {
  background-color: var(--delete-btn-color);
  color: white;
  border: none;
  font-size: 13px;
  border-radius: 7px;
  padding: 7px;
  cursor: pointer;
}

.mark-btn {
  background-color: var(--mark-btn-color);
  height: 20px;
  width: 20px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.marked-btn {
  background-color: var(--marked-btn-color);
  color: white;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
#container-progress {
  height: 20px;
  background-color: var(--border-color);
  position: relative;
}
#background {
  width: 100%;
  height: 20px;
  background-color:var(--progres-color);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

#on-top {
  height: 100%;
  background-color: var(--ontop-color);
  transition: width 0.3s ease;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  width: fit-content;
  margin: 20px auto;
}
.filter-btn,
.Pending-btn,
.Completed-btn {
  padding: 10px 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 12px;
  color: var(--filter-btn);
  transition: all 0.2s ease;
}

.filter-btn,
.Pending-btn,
.Completed-btn:active {
  background: var(--back-filter-color);
  color: white;
}
.line {
  height: 0.5px;
  background-color: var(--line-color);
  margin-top: 15px;
  margin-bottom: 15px;
  
}
.todoElement {
  flex: 2;
  height: 40px;
  padding: 0 15px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  font-family: 'Inter';
  outline: none;
}
.category {
  flex: 1;
  height: 42px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background: white;
  padding: 0 10px;
  color: #4b5563;
}
#all {
  background: var(--back-filter-color);
  color: white;
}
